body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #153666;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-image: url('images/background.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #333; /* Set text color for better visibility on the image */
    height: 200px;
}

h1 {
    margin-top: 0;
    font-size: large;
}

.search-bar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.search-bar input {
    width: 500px; /* Adjust the width as needed */
    padding: 8px;
    font-size: 8px;
    border-radius: 30px; /* Add rounded corners */
    border: 1px solid #ddd;
    margin: 6px;
}

.search-bar button {
    padding: 8px; /* Adjust padding for better appearance */
    font-size: 8px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.search-bar img{
    width: 20px;
    height: 18px;
}

button:hover {
    background-color: #0056b3;
}


.image-container {
    margin-top: 0px; /* Adjust the margin as needed */
    text-align: center;
}

.image-container img {
    width: 60px; /* Make the image take the full width of its container */
    max-width: 200px; /* Set a maximum width for the image */
    border-radius: 10px; /* Add rounded corners */
}

